* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}
.home {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  letter-spacing: 2px;
}
.home h2 {
  margin: 30px 10px;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home h4 {
  letter-spacing: 4px;
  padding: 10px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.7);
}
.container {
  width: 100vw;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.create-account {
  position: absolute;
  top: 18%;
  font-size: 22px;
}

.login-more-details {
  display: flex;
  position: absolute;
  bottom: 20%;
}

.links {
  margin: auto 10px;
}

.container-bar {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

.student-navBar {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.student-navBar div {
  display: flex;
  margin: 15px;
}

.logo {
  width: 250px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.logo span {
  font-size: 25px;
}

.stu-nav-right {
  position: absolute;
  right: 1%;
  display: flex;
  align-items: baseline;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}
.bell {
  position: absolute;
  font-size: 23px;
  bottom: 30%;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faUser {
  margin-left: 20px;
  margin-right: 5px;
}
.person h4 {
  margin-top: 5px;
}
.main-sidebar {
  width: 265px;
  height: 85vh;
  border: 1px solid black;
  border-bottom: none;
}

.side-container ul {
  font-size: 18px;
  width: 265px;
  list-style: none;
}
.side-container ul li {
  padding-bottom: 10px;
  text-align: center;
  margin: 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.side-container ul li a {
  color: rgba(0, 0, 0, 0.8);
}

hr {
  margin: 43px auto;
  color: rgba(0, 0, 0, 0.8);
}

.main-content {
  margin: 45px 0px;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.search-field {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
}
.search-field input {
  margin: auto 10px;
  width: 150px;
  height: 40px;
  padding-left: 10px;
  padding-bottom: 2px;
  outline: none;
}
.search-field input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.search-field select {
  width: 150px;
  background: none;
  height: 40px;
  margin: auto 10px;
  outline: none;
}

.search-field button {
  width: 100px;
  font-size: 24px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: all 0.1s;
  margin-left: 30px;
}

.search-field button:hover {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.search-field button:active {
  transform: scale3d(0.9, 0.9, 1);
}

.table-div {
  margin: 30px 60px;
  width: 94%;
}
.table {
  border: 1px solid black !important;
  background-color: rgba(0, 0, 0, 0.2);
}
.table td {
  border: 2px solid black;
  padding: 1px 16px;
}

.hov:hover {
  text-decoration: underline;
}

.add-form {
  position: absolute;
  width: 500px;
  height: 400px;
}

.add-form label {
  width: 200px;
  margin: 10px 20px;
}

.add-form input {
  font-size: 15px;
  width: 250px;
  outline: none;
}

.add-form div {
  display: flex;
  margin: 20px 0;
}

.heading {
  margin: 10px;
  padding: 5px;
  width: 70vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.add-form select {
  width: 250px;
  outline: none;
}
.Logout {
  position: relative;
  left: 4%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.05);
  height: 60px;
}

.navbar ul {
  list-style: none;
  box-sizing: border-box;
}
.navbar ul li {
  float: left;
  margin: 5px 15px;
  font-size: 22px;
  padding-top: 5px;
  text-transform: uppercase;
}

.navbar ul li a {
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 500px) {
  .navbar ul li {
    font-size: 18px;
    margin: 5px 5px;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .table {
    width: 70%;
  }
  .search-field {
    width: 80%;
  }
  .search-field input,
  .search-field select {
    width: 100px;
  }
  .container {
    position: absolute;
    top: 30%;
  }
  .create-account {
    position: absolute;
    top: 0%;
  }
  .links {
    margin-bottom: -20%;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .table {
    width: 300px;
  }
  .main-sidebar {
    width: 200px;
  }
  .side-container ul {
    width: 100%;
  }
  .search-field {
    width: 80%;
  }
  .search-field input,
  .search-field select {
    width: 70px;
  }
  .container {
    position: absolute;
    top: 30%;
  }
  .create-account {
    position: absolute;
    top: 0%;
  }
  .links {
    margin-bottom: -20%;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .table td {
    padding: 7px;
  }
  .table {
    position: absolute;
    top: 30%;
    right: 28%;
  }

  .search-field {
    width: 50%;
    margin: 10px;
    position: absolute;
    right: 10%;
  }
  .search-field input,
  .search-field select {
    width: 50px;
    margin: 5px;
  }
  .add-form label {
    width: 100px;
  }
  .container {
    position: absolute;
    top: 30%;
  }
  .create-account {
    position: absolute;
    top: 0%;
  }
  .links {
    margin-bottom: -20%;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .main-sidebar {
    width: 700px;
    height: 180px;
    border-bottom: 1px solid black;
    margin-left: 25px;
  }
  .search-field {
    position: absolute;
    top: 45%;
    right: 35%;
  }
  .table {
    position: absolute;
    top: 58%;
    width: 90%;
    right: 5%;
  }
  .add-form {
    width: 400px;
  }
  .add-form {
    position: absolute;
    top: 45%;
    left: 10%;
  }
  .container {
    position: absolute;
    top: 30%;
  }
  .create-account {
    position: absolute;
    top: 0%;
  }
  .links {
    margin-bottom: -20%;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 190px;
  }
  .stu-nav-right {
    font-size: 15px;
  }
  .bell {
    font-size: 17px;
    position: absolute;
    bottom: 35%;
  }
  .person {
    font-size: 15px;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 530px) {
  .logo {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 1%;
    left: 10%;
    right: 10%;
  }
  .stu-nav-right {
    position: absolute;
    top: 5%;
    right: 10%;
  }
  .student-navBar {
    border: none;
  }
  .main-sidebar {
    width: 400px;
    height: 180px;
    border-bottom: 1px solid black;
    margin-left: 25px;
    position: absolute;
    top: 20%;
    left: 5%;
  }
  .search-field {
    position: absolute;
    top: 50%;
    right: 25%;
  }
  .table {
    position: absolute;
    top: 62%;
    width: 90%;
    right: 5%;
  }
  .container {
    position: absolute;
    top: 30%;
  }
  .create-account {
    position: absolute;
    top: 0%;
  }
  .links {
    margin-bottom: -20%;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .table {
    position: absolute;
    top: 100%;
    width: 60%;
    right: 5%;
    left: 0;
  }
  .table td {
    padding: 5px 0;
    font-size: 90%;
  }
  .search-field {
    position: absolute;
    top: 82%;
    left: 35%;
    width: 100px;
  }
  .stu-nav-right {
    position: absolute;
    top: 5%;
    right: 5%;
    left: 10%;
  }
  .logo {
    width: 300px;
    height: 120px;
    position: absolute;
    top: 1%;
    left: 7%;
    right: 10%;
  }
  .main-sidebar {
    width: 300px;
    height: 180px;
    border-bottom: 1px solid black;
    margin-left: 25px;
    position: absolute;
    top: 33%;
    left: 0%;
  }
  .add-form {
    position: absolute;
    top: 80%;
    left: 0;
  }
  .add-form label {
    margin: 10px 0;
  }
  .container {
    position: absolute;
    top: 30%;
  }
  .create-account {
    position: absolute;
    top: 0%;
  }
  .links {
    margin-bottom: -20%;
  }
  .home {
    position: absolute;
    top: 80%;
  }
}
